@page "/app/employees/new" 

<PageTitle>New Emplouee</PageTitle>

<PageView>
  <Title>
    <div>
      <span class="pageTitle">New Employee</span>
      <span class="ml-3 text-xs text-red-300 bg-red-50 px-3 py-1 rounded">
        Not Saved
      </span>
    </div>
  </Title>
  <Toolbar>
    <div class="flex flex-row space-x-2">
      <div>
        <Button Text="Save" ButtonType="primary" />
      </div>
    </div>
  </Toolbar>
   <SideView> 
  </SideView>
  <Content>  </Content>
</PageView>


@code { 
}
