@inherits LayoutComponentBase

<PageTitle>Rova.Web</PageTitle>

<div class="box-border font-sans w-full text-sm relative">
  <div id="header" class="box-border flex xl:px-48 fixed inset-x-0 z-50 border-b border-gray-200  bg-indigo-50 py-3">
    <div class="container flex items-center mx-auto">
      <div class="w-1/2 flex item-center">
        <div class="w-full mr-3">
          <NavLink href="/">
            <span class="font-bold text-gray-600 text-xs uppercase cursor-pointer">
              Rova
            </span>
          </NavLink>
        </div>
      </div>
      <div class="w-1/2 flex items-center justify-end">
        @*{/* searchbox */}*@

        @*{/* user */}*@

        @*{/* notification */}*@
      </div>
    </div>
  </div>

  @Body

</div>