@page "/"
@inject Components.Breadcrumb Crumb;

<PageTitle>Index</PageTitle>

<PageView>
  <Title>Dashboard</Title>
  <SideView>
    <AppSideView />
  </SideView>
  <Content>
    <div>Hello, Rova!</div>
  </Content>
</PageView>

@code {
  protected override void OnInitialized()
  {
    Crumb.SetRoute(new LinkData[] {
    });
        
    Crumb.OnChange += StateHasChanged;
  }

}
