@page "/"

<PageTitle>Index</PageTitle>

<PageView>
  <Title>Dashboard</Title>
  <SideView>
    <AppSideView />
  </SideView>
  <Content>
    <div>Hello, Rova!</div>
  </Content>
</PageView>

@code {
  

}
