 <button class="@MainClassName" disabled="@Disable" type="@FormType" @onclick="@InvokeOnClick">
      @Text
</button>

@code {
    [Parameter] public string Text {get;set;}
    [Parameter] public bool Disable {get;set;} = false;
    [Parameter] public string ButtonType { get; set; } = "default";
    [Parameter] public string FormType { get; set; } = "";
    [Parameter] public Action OnClick {get;set;}
    [Parameter] public bool Wide { get; set; } = false;

    public string MainClassName {get;set;}

    protected override void OnInitialized( ){
        var className = new StringBuilder(" ");

        switch(ButtonType){
            case "primary":
                {
                    if(Disable) { className.Append(" btn-primary-disabled ");}
                    className.Append(" btn-primary "); break;
                }
            default:
                {
                    if(Disable) { className.Append(" btn-default-disabled ");}
                    className.Append(" btn-default "); break;
                }
        }

        if (Wide)
        {
            className.Append(" w-full ");
        }

        MainClassName = className.ToString();
    }

    protected void InvokeOnClick ()
    {
        OnClick?.Invoke();
    }

}