@page "/app/leads"
@using Rova.Model.Domain
@using Microsoft.Extensions.Logging
@inject ILogger<ListLead> Logger
@inject Rova.Core.Services.LeadService LeadService
@inject NavigationManager NavigationManager

<PageTitle>List Leads</PageTitle>

<PageView>
    <Title></Title>
    <Toolbar>
        <div class="px-1">
            <MenuButton>
                <MenuButtonItem Text="Print" LeadingIconClass="gg-printer" />
                <MenuButtonItem Text="Report" LeadingIconClass="gg-file" />
                <MenuButtonItem Text="DashBoard" leadingIconClass="gg-board" />
            </MenuButton>
        </div>
        <div>
            <LinkButton To="/app/leads/new" 
                        Title="New Lead" 
                        ButtonType="primary" 
                        LeadingIconClass="gg-math-plus">
            </LinkButton>
        </div>
    </Toolbar>
    <SideView>
        <div>
            <div class="pb-3">
                <span class="cursor-default uppercase text-xs font-semibold text-gray-500">
                    Lead
                </span>
            </div>
        </div>
    </SideView>
    <Content>
        <ListView TItem="LeadExtended" Columns="@Columns" DataSource="@Leads"></ListView>
    </Content>
</PageView>

@code {
    public Dictionary<string, Dictionary<string, string>> Columns = new()
    {
            {
                "Code",
                new()
                {
                    { "display", "Code" },
                    { "type", "link" },
                    { "format", "/app/leads/{0}" }
                }
            },
            {
                "DisplayName",
                new()
                {
                    { "display", "Name" }
                }
            },
            {
                "Status",
                new()
                {
                    { "display", "Status" }
                }
            },
            {
                "CreatedAt",
                new()
                {
                    { "display", "Created Date" },
                    { "type", "date" },
                    { "format", "MMM dd, yyyy" }
                }
            }
        };

    private IEnumerable<LeadExtended> Leads { get; set; } = Enumerable.Empty<LeadExtended>();

    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation("Fetching Leads");
        
        var result = await LeadService.ListLead();
        
        if (result.Ok)
        {
            Leads = result.Data;
        }
        
        Logger.LogInformation("Fetching Leads complete with status [{0}]", result.Ok ? "Success" : "Failed");
    }

}